body {
  background: linear-gradient(90deg, rgb(7, 5, 27) 0%, rgb(5, 7, 30) 7%, rgb(2, 2, 23) 39%, rgb(7, 6, 26) 100%);
}  

.home-container {
  width: 100%;
  height:60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.box-container {
  background-color: rgb(10, 10, 66, 0.1);
  height: 500px;
  width: 100%;
  border-radius: 40px;
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.loading {
  width: 100%;
  min-height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-home {
  margin: 10px;
  padding-top: 20px;
}

.search-content {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search-bar {
  width: 500px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.box-search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 550px;
}

.alert{
  height: 40px;
  width: 100%;
  padding: 10px;
}

.btn-secondary {
  width: 50px;
  border-radius: 50px;
  height: 50px;
  font-size: 10px;
  background-color:#A9D35A;
  cursor: pointer;
  margin: 0px;
}

.btn-secondary:hover, .btn-secondar:focus {
  background-color:#26B5A8;
  cursor: pointer;
}

.search-btn {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  margin: 10px;
}

input {
  padding: 5px;
  padding-left: 20px;
  text-align: left;
  font-size: 1.0em;
}

input::placeholder {
  text-align: center;
  font-size: 1.0em;
}

.search-checkbox {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.radio {
  cursor: pointer;
}

.checkbox {
  font-size: 12px;
  font-weight: 645;
  margin-left: -80px;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  font-weight: 600;
  color: white;
}

@media (max-width:600px) {
  .box-container {
    height: 400px;
    width: 95%;
    border-radius: 20px;
    margin-top: 130px;
    display: grid;
    justify-content: center;
  }

  .logo-home {
    margin-top: 50px;
    height:150px; 
    width:300px;
  }
  
  .search-content {
    width: 100%;
    height: 10%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .search-bar {
    width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .box-search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 400px;
  }
  .radio {
    cursor: pointer;
  }
  .checkbox {
    font-size: 12px;
    font-weight: 645;
    margin-left: -30px;
  }
  .footer {
    padding-top: 100px;
    font-weight: 600;
    font-size: 12px;
    color: white;
  }
  .loading {
    min-height:100vh;
    display: flex;
    flex-direction: row;
  }
  .alert{
    height: 30px;
    width: 100%;
    padding: 5px;
    font-size: 13px;
  }
}
