.navbar-container {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0px;
  background: linear-gradient(90deg,rgba(7,11,41,1) 7%, rgba(1,2,46,1) 39%, rgba(14,12,44,1) 100%);
  color: white;
}

.navbar {
  background: linear-gradient(90deg, rgba(7,11,41,1) 7%, rgba(1,2,46,1) 39%, rgba(14,12,44,1) 100%);
}

.box-logo {
  padding: 0px;
  height: 0%;
  margin-left: 30px;
}

#id {
  margin: -20px
}

.button-nb {
  text-decoration: none;
  color: white;
  margin: 15px;
  font-size: 15px;
  font-weight: 900;
}

.button-nb:hover {
  text-decoration: none;
  color: #A9D35A;
  cursor: pointer;
}

.modal-inputs {
  margin-bottom: 20px;
}

.icon-profile {
  margin-bottom: 5px;
}

.separador {
  height: 100%;
  font-weight: 500;
  font-size: 25px;
  margin: 0px 0px 0px 10px;
}

.nav {
  height: 100%;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-left: -15px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  font-size: 18px;
  margin-left: 20px;
}

.nav > .nav-links > a {
  display: inline-block;
  justify-content: left;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 120px;
    height: 40px;
    padding: 40px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 45px;
    height: 15px;
    border-top: 5px solid #A9D35A;
    cursor: pointer;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background: linear-gradient(90deg,rgba(7,11,41,1) 7%, rgba(1,2,46,1) 39%, rgba(14,12,44,1) 100%);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 120px;
    left: -5px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(45vh - 50px);
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .navbar-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 90px 0px 0px 0px;
  }
  .separador,  .icon-profile {
    display: none;
  }
  .button-nb {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .buttons-content {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}
