.navbar-container {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px;
  background: linear-gradient(90deg,rgba(7,11,41,1) 7%, rgba(1,2,46,1) 39%, rgba(14,12,44,1) 100%);
  color: white;
}

.navbar {
  background: linear-gradient(90deg, rgba(7,11,41,1) 7%, rgba(1,2,46,1) 39%, rgba(14,12,44,1) 100%);
}

.nav-left, .nav-medium, .nav-right {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-right {
  justify-content: right;
  padding-right: 50px;
}

.logo-content {
  padding: 0px;
  height: 0%;
}

#id {
  margin: -20px
}

.button-nb {
  text-decoration: none;
  color: white;
  margin: 15px;
  font-size: 15px;
  font-weight: 900;
}

.button-nb:hover {
  text-decoration: none;
  color: #A9D35A;
  transform: scale(1.05);
  cursor: pointer;
}

.modal-inputs {
  margin-bottom: 20px;
}

.icon-profile {
  margin-bottom: 5px;
}

.separador {
  height: 100%;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 5px;
}

@media (max-width:600px) {
  .separador {
    height: 100%;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .button-nb {
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 10px;
    font-weight: 700;
  }
}