.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.content {
    display: grid;
    justify-content: left;
    align-items: center;
    margin-top: 0px;
}

.text-result {
    display: flex;
    justify-content: left;
    font-size: 20px;
    font-weight: 900;
    margin-left: 30px;
    color: #A9D35A;
}

.box-result {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}